TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_ALLOWED_USER_ID=your_telegram_user_id
ANTHROPIC_API_KEY=your_anthropic_api_key
SLACK_USER_TOKEN=xoxp-your-slack-user-token
SLACK_CHANNEL_ID=your_slack_channel_id
ZOHO_EMAIL=your_zoho_email
ZOHO_PASSWORD=your_zoho_app_password
ZOHO_RECIPIENT=harshit@mentestack.com
YOUR_NAME=Shreyansh Jain
